/* modules.css */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: var(--bg-primary);
    padding: 1.5rem;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--text-primary)
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-input, .form-textarea {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.375rem;
    font-size: 1rem;
    background: var(--bg-secondary);
    color: var(--text-secondary);
    font-family: var(--font-family);
  }

  #module-description {
    max-height: min-content;
  }

 #module-content {
    min-height: 12rem;
    resize: vertical;
  }
  
  .error-message {
    color: var(--error-text);
    margin-bottom: 1rem;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .button {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    color: var(--text-primary);
    cursor: pointer;
  }
  
  .button-secondary {
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
  }
  
  .button-primary {
    background-color: var(--accent-color);
    border: none;
  }
  
  .button-primary:hover {
    background-color: var(--accent-hover);
  }
  
  .button-secondary:hover {
    background-color: var(--error-bg);
  }



.quiz-card {
    position: relative;
 
  }
  
  .completion-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: var(--accent-color);
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
    z-index: 2;
  }
  
  .completion-button:hover {
    background: var(--accent-hover);
  }
  
  .completion-button svg {
    width: 1.25rem;
    height: 1.25rem;
    color: white;
  }
  
  .completion-details {
    padding: 1rem 0;
  }
  
  .quiz-header {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  
  .quiz-header h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    color: var(--text-primary);
  }
  
  .details-grid {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  .detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .detail-label {
    color: var(--text-secondary);
  }
  
  .detail-value {
    font-weight: 500;
    color: var(--text-primary);
  }
  
  .detail-value.score {
    color: var(--accent-color);
  }